<ul class="list-group list-group-flush"></ul>

        {{#each usuarios}}
    
    <form method="POST" action="/admin/users/borrar/{{id}}">
         <li class="list-group-item">
             <h1>{{nombre}}</h1>
             <p>{{email}}</p>
             
                   <button type="submit" >Elimina</button>
                    
             <input type="checkbox"
             {{#if administrador}}
             checked
             {{/if}}
             />admin
    </form>
         

        {{/each}}



</ul>
<a href="">Salir...</a>