<form method="POST" action="/users/sendpass">
    <h2>Si has olvidado el password...</h2>
    <input type="text" name="email" placeholder="introduce tu dirección email"/>
    <button type="submit">enviar</button>
    <p>...y lo recibirás en tu correo</p>
</form>