@import url('https://fonts.googleapis.com/css?family=Barriecito|Rubik+Mono+One&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.eliminar {
  position: absolute;
}
.cabecera {
  background: url('../images/header.jpg');
  height: 300pt ;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  }
  #header{
    margin-top: 1em;
    margin-left: 1em;
    font-family: 'Rubik Mono One';
    font-size: 40pt;
    color: white;
    text-shadow: 2px 2px 2px #CE5937;
  }
  #subtitulo{
    margin-left: 10em;
    font-family: 'Barriecito';
  }